# Flutter & Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/

# VSCode
.vscode/

# Android & iOS
*.iml
.gradle/
local.properties
Pods/
ios/Flutter/Generated.xcconfig

# General
*.log
